.dark-medium-contrast {
  --md-sys-color-primary: rgb(137 225 75);
  --md-sys-color-surface-tint: rgb(133 220 71);
  --md-sys-color-on-primary: rgb(8 27 0);
  --md-sys-color-primary-container: rgb(81 163 7);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(171 216 137);
  --md-sys-color-on-secondary: rgb(8 27 0);
  --md-sys-color-secondary-container: rgb(115 156 84);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(102 221 213);
  --md-sys-color-on-tertiary: rgb(0 26 25);
  --md-sys-color-tertiary-container: rgb(15 162 154);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 21 11);
  --md-sys-color-on-background: rgb(223 229 212);
  --md-sys-color-surface: rgb(16 21 11);
  --md-sys-color-on-surface: rgb(247 253 236);
  --md-sys-color-surface-variant: rgb(64 74 56);
  --md-sys-color-on-surface-variant: rgb(196 206 183);
  --md-sys-color-outline: rgb(156 166 144);
  --md-sys-color-outline-variant: rgb(125 134 114);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 229 212);
  --md-sys-color-inverse-on-surface: rgb(38 44 33);
  --md-sys-color-inverse-primary: rgb(37 82 0);
  --md-sys-color-primary-fixed: rgb(160 249 97);
  --md-sys-color-on-primary-fixed: rgb(5 21 0);
  --md-sys-color-primary-fixed-dim: rgb(133 220 71);
  --md-sys-color-on-primary-fixed-variant: rgb(26 62 0);
  --md-sys-color-secondary-fixed: rgb(194 240 158);
  --md-sys-color-on-secondary-fixed: rgb(5 21 0);
  --md-sys-color-secondary-fixed-dim: rgb(167 211 133);
  --md-sys-color-on-secondary-fixed-variant: rgb(27 62 1);
  --md-sys-color-tertiary-fixed: rgb(128 245 237);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 19);
  --md-sys-color-tertiary-fixed-dim: rgb(97 217 209);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 61 58);
  --md-sys-color-surface-dim: rgb(16 21 11);
  --md-sys-color-surface-bright: rgb(53 59 48);
  --md-sys-color-surface-container-lowest: rgb(11 16 7);
  --md-sys-color-surface-container-low: rgb(24 29 19);
  --md-sys-color-surface-container: rgb(28 33 23);
  --md-sys-color-surface-container-high: rgb(38 44 33);
  --md-sys-color-surface-container-highest: rgb(49 55 43);
}
